<md-toolbar layout="row" id="listTitle" class="md-whiteframe-z1 site-content-toolbar">
    <h1 flex>Simple Note App</h1>
</md-toolbar>

<div flex layout="row">
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
        <md-list>
            <md-list-item ng-click="$ctrl.showAssociatedNotes()">
                <p>Toutes les notes</p>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item ng-repeat="cat in $ctrl.categories" ng-click="$ctrl.showAssociatedNotes(cat)">
                <md-icon class="md-avatar-icon" md-svg-src="{{cat.iconUrl}}"></md-icon>
                <p ng-bind="cat.label"></p>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item>
                <div class="md-no-style">
                    <md-input-container>
                        <input type="text" placeholder="Nouvelle catégorie" ng-model="$ctrl.newCategory.label">
                    </md-input-container>
                    
                    <md-button class="md-icon-button" ng-click="$ctrl.addNewCategory()">
                        <i class="material-icons">add_box</i>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content layout-padding flex id="content">
        <form name="newNoteForm" class="md-inline-form" id="newNoteForm" ng-submit="$ctrl.addNewNote()">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Titre</label>
                    <input ng-model="$ctrl.newNote.title">
                </md-input-container>
                <md-datepicker ng-model="$ctrl.newNote.dueDate" md-placeholder="Dû le">
                </md-datepicker>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Contenu</label>
                    <textarea name="content" ng-model="$ctrl.newNote.content" required md-maxlength="350"></textarea>
                </md-input-container>
            </div>

            <md-button class="md-raised md-primary" type="submit">Ajouter</md-button>
        </form>

        <md-grid-list md-cols="4" md-gutter="1em" md-row-height="1:1">
            <md-grid-tile ng-repeat="note in $ctrl.notes">
                <note-component curr-note="note" style="width: 100%;"></note-component>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>